name: learn_riverpod
description: "Learn Riverpod State Management & Navigator 2.0 (GoRouter)"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # State Management - Riverpod
  flutter_riverpod: ^3.1.0

  # Navigation
  go_router: ^17.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0


flutter:
  uses-material-design: true
  